html{
  background: url(//inq-sparker.ucoz.net/images/atlas-bg-blue.jpg);
}

body{
  background: #344366;
  background: linear-gradient(to top, #344366, #746da4);
  height: 1125px;
  margin: auto;
  margin-top: 100px;
  width: 1224px;
}

/* main box */
.main-box{
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.8);
  height: 925px;
  margin-left: 100px;
  margin-top: 100px;
  position: absolute;
  width: 1024px;
}

/* header */
header{
  width: 100%;
  height: 60px;
  margin: 0;
  padding: 0;
  background-color: #746da4;
  opacity: .5;
}

/* left sidebar*/
.lsidebar{
  background: #f6f7fb;
  border-bottom-left-radius: 5px;
  border-right: 1px solid #ccd0d9;
  border-top: 1px solid #ccd0d9;
  float: left;
  height: 864px;
  width: 200px;
}

/* app, add apps, list of apps*/
.apphead{
  margin: 20px;
  padding: 0;
}

.apphead > p > span > img{
  float: right;
  transition-duration: .8s;
}

.apphead > p > span > img:hover{
  filter: invert(1);
  transition-duration: .8s;
}

.apphead > p > span{
  font-size: 18px;
  font-family: "OpenSans";
  color: #333333;
  font-weight: bold;
  line-height: 30px;
  text-align: left;
  text-decoration: none;
  vertical-align: -6px;
}

.applist{
  margin: 0 0 20px 20px;
  padding: 0;
}

.applist > p{
  margin: 0;
  padding: 0 0 10px 0;
}

.applist > p > a{
  color: #656D78;
  font-size: 13px;
  font-family: "OpenSans";
  padding-left: 10px;
  text-align: left;
  text-decoration: none;
  vertical-align: 10px;
}

/* contacts, list of contacts*/
.cont-head{
  border-top: 1px solid #ccd0d9;
  color: #333333;
  font-size: 18px;
  font-family: "OpenSans";
  font-weight: bold;
  line-height: 30px;
  margin: 0;
  padding: 0 0 0 20px;
  text-align: left;
  text-decoration: none;
  vertical-align: -6px;
}


.cont-list{
  margin: 0 0 20px 20px;
  padding: 0;
}

.cont-list > p{
  margin: 0;
  padding: 0 0 10px 0;
}

.cont-list > p > a{
  color: #656D78;
  font-size: 13px;
  font-family: "OpenSans";
  padding-left: 10px;
  text-align: left;
  text-decoration: none;
  vertical-align: 10px;
}

/* avatar state */
.avat-state{
  margin-left: -14px;
  width: 10px;
  height: 10px;
}

/* right sidebar*/
.rsidebar{
  background: #f6f7fb;
  border-bottom-right-radius: 5px;
  border-left: 1px solid #ccd0d9;
  border-top: 1px solid #ccd0d9;
  float: right;
  height: 864px;
  width: 200px;
}

/* user profile managment*/
.head{
  margin: 20px;
  padding: 0;
}

.apphead > p > span > img{
  float: right;
  transition-duration: .8s;
}

.apphead > p > span > img:hover{
  filter: invert(1);
  transition-duration: .8s;
}

.apphead > p > span{
  font-size: 18px;
  font-family: "OpenSans";
  color: #333333;
  font-weight: bold;
  line-height: 30px;
  text-align: left;
  text-decoration: none;
  vertical-align: -6px;
}

.applist{
  margin: 0 0 20px 20px;
  padding: 0;
}

.applist > p{
  margin: 0;
  padding: 0 0 10px 0;
}

.applist > p > a{
  color: #656D78;
  font-size: 13px;
  font-family: "OpenSans";
  padding-left: 10px;
  text-align: left;
  text-decoration: none;
  vertical-align: 10px;
}