html{
  background: url(//inq-sparker.ucoz.net/images/atlas-bg-blue.jpg);
}

body{
  background: #344366;
  background: linear-gradient(to top, #344366, #746da4);
  height: 1125px;
  margin: auto;
  margin-top: 100px;
  width: 1224px;
}

/* main box */
.main-box{
  background-color: #fff;
  border-radius: 5px;
  height: 925px;
  margin-left: 100px;
  margin-top: 100px;
  position: absolute;
  width: 1024px;
}

/* header */
header{
  width: 100%;
  height: 60px;
  margin: 0;
  padding: 0;
  background-color: #746da4;
  opacity: 50%;
}

/* left sidebar*/
.lsidebar{
  background: #f6f7fb;
  float: left;
  width: 200px;
}

.apphead{
  margin: 20px;
  padding: 0;
  height: 40px;
}

.apphead > p > span > img{
  float: right;
  transition-duration: .8s;
}

.apphead > p > span > img:hover{
  filter: invert(1);
  transition-duration: .8s;
}

.apphead > p > span{
  font-size: 18px;
  font-family: "OpenSans";
  color: #333333;
  font-weight: bold;
  line-height: 30px;
  text-align: left;
  text-decoration: none;
  vertical-align: -6px;
}

.applist{
  margin: 0 0 20px 20px;
  padding: 0;
}

.applist > p{
  margin: 0;
  padding: 0 0 10px 0;
}

.applist > p > a{
  color: #656D78;
  font-size: 13px;
  font-family: "OpenSans";
  padding-left: 10px;
  text-align: left;
  text-decoration: none;
  vertical-align: 10px;
}

.